.setting-item.bases-tasks-disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(1);

  .setting-item-control {
    display: none;
  }
}

.setting-item.bases-tasks-hidden {
  display: none;
}

.task-drag-widget {
  display: block;
  width: 12px;
  height: 28px;
  cursor: pointer;
  left: -10px;
  position: absolute;
  color: var(--checkbox-border-color);
  letter-spacing: -2px;
  opacity: 0;
}

.task-drag-widget:hover {
  background-size: 6px 6px;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.HyperMD-task-line.cm-line.bases-tasks-hidden {
  visibility: hidden;
}